header {
  background-color: var(--purple);
  color: var(--white);
  padding-top: 2rem;
  padding-bottom: 2rem;

  margin-bottom: 2rem;
}

header h1 {
  font-family: 'Big Shoulders Inline Display', sans-serif;
  font-size: 5rem;
}

@media screen and (max-width: 450px) {
  header h1 {
    font-size: 4rem;
  }
}
