@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Display:wght@700&family=Big+Shoulders+Text:wght@700&family=Sofia+Sans:wght@400;700&display=swap');

:root {
  --purple: #800080;
  --gray: #9b9999;
  --white: #ffffff;
  --yellow: #ececab;
  --red: #ea8282;
  --green: #a0f3ad;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Sofia Sans', sans-serif;
}

.body-padding {
  padding-right: max(1.5rem, 10vw);
  padding-left: max(1.5rem, 10vw);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.purple-button {
  background-color: var(--white) !important;
  color: var(--purple);
  border-radius: 10px;
  padding: 16px;
}
